{% extends 'base.html.twig' %}

{% block title %}Page Category{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1> Liste des categories </h1>

    <ul>
        {% for category in categoryList %}
            <li>
                    {{category.id}}  - {{category.name}}  <a href="{{ path("categoryById",{'id':category.id}) }}"> Show </a> ----   <a href="{{ path("editCategoryById",{'id':category.id}) }}"> Edit </a>

                    <ul>
                    {% for video in category.videos %}
                        <li>
                            {{video.id}}  - {{video.title}}
                        </li>
                    {% endfor %}

                </ul>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
