{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <div class="categoryShow">
            <h1> {{ category.name }} </h1>
            <br/>
            <div class="categoryDescription">
                <p>{{ category.description }}</p>
            </div>
             <span class="titre"> Video for this category </span>
            <br/>

            {% for video in videos %}
                <div class="videoCategoryShowDesign">

                    <span class="titre_video"> {{ video.title }} </span>
                    <br>

                    <div class="videoThumbnail">
                        <img src='http://img.youtube.com/vi/{{ video.idYoutube }}/hqdefault.jpg' height='200px' width='200px'>
                    </div>

                    <div class="videoLink">
                        <a href="{{ path("videoById",{'id':video.id}) }}"> Show </a>
                    </div>


                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}