{% extends 'base.html.twig' %}



{% block title %}Hello VideoController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1> Add new video </h1>

        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div id="formDesign">
            <div>
                {{ form_label(form.title, 'Title (5 caract min) : ') }}
                {{ form_errors(form.title) }}
                {{ form_widget(form.title, {'attr': {'class': 'inputField'}}) }}
                {{ form_help(form.title) }}
            </div>

            <div>
                {{ form_label(form.url, 'Url : ') }}
                {{ form_errors(form.url) }}
                {{ form_widget(form.url, {'attr': {'class': 'inputField'}}) }}
                {{ form_help(form.url) }}
            </div>
            <div>
                {{ form_label(form.description, 'Description : ') }}
                {{ form_errors(form.description) }}
                {{ form_widget(form.description, {'attr': {'class': 'inputField'}}) }}
                {{ form_help(form.description) }}
            </div>
            <div>
                {{ form_label(form.category, 'Category : ') }}
                {{ form_errors(form.category) }}
                {{ form_widget(form.category, {'attr': {'class': 'inputField'}}) }}
                {{ form_help(form.category) }}
            </div>
            <div>
                {{ form_label(form.published, 'Published : ') }}
                {{ form_errors(form.published) }}
                {{ form_widget(form.published, {'attr': {'class': 'inputField'}}) }}
                {{ form_help(form.published) }}
            </div>
            {{ form_widget(form.submit, {'attr': {'class': 'boutonSubmit'}}) }}
        </div>
            {{ form_end(form) }}
    </div>
{% endblock %}