{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h2> Les informations de {{ user.firstname }} {{user.lastname}}  </h2>
        <ul>

            <li> Prénom : {{user.firstname}} </li>
            <li> Nom:  {{user.lastname}} </li>
            <li> Email: {{user.email}} </li>
            <li> Date aniversaire: {{user.birthday | date}} </li>

        </ul>

    </div>
{% endblock %}